.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.TodoItem input {
  width: 20px;
}

.TodoItem .content {
  flex: 1;
}

.date {
  color: gray;
  font-size: 14px;
}

.TodoItem button {
  border-radius: 5px;
  border: none;
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
}

.TodoItem.Done .content {
  color: gray;
  text-decoration: line-through;
}
